<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
        <img src="../../assets/images/revulogo.png" alt="Revu" id="logo">
    </a>

    <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed">

      <ng-template #ss let-r="result" let-t="term">
        <div (click)="onAddNewProperty()" *ngIf="r.flag; else showResults">
          <span>{{r.message}}</span>
        </div>
        <ng-template #showResults>
          <ngb-highlight [result]="r" [term]="t"></ngb-highlight>
        </ng-template>
      </ng-template>

      <div class="form-inline">
          <div class="input-group">

            <!-- getting result and term from this input -->
              <input 
                type="text" 
                [(ngModel)]="searchString" 
                (keyup.enter)="onSearch(searchString)" 
                [editable]="false" 
                [ngbTypeahead]="search" 
                class="form-control" 
                style="width: 30vw;" 
                placeholder="search for a property"
                [inputFormatter]="formatter"
                [resultTemplate]="ss">

              <div class="input-group-append">
                  <button (click)="onSearch(searchString)" class="btn btn-success">
                      <fa-icon [icon]="faSearch"></fa-icon>
                  </button>
              </div>
          </div>
        </div>
       
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml">
                <button class="btn btn-primary" (click)="openDialog()">Login / Sign up</button>
            </li>
        </ul>

    </div>
</nav>