<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
        <img src="../../assets/images/revulogo.png" alt="Revu" id="logo">
    </a>

    <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed">

      <form class="form-inline">
          <div class="input-group">
              <input type="search" class="form-control" style="width: 30vw;" placeholder="search for a property">
              <div class="input-group-append">
                  <button class="btn btn-success">
                      <fa-icon [icon]="faSearch"></fa-icon>
                  </button>
              </div>
          </div>
      </form>
       
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml">
                <button class="btn btn-primary" (click)="openDialog()">Login / Sign up</button>
            </li>
        </ul>

    </div>
</nav>