<div class="container mt-2">
    <div class="row">
        <div class="col-md-6 p-4 d-flex align-items-center">
            <div class="p-1">
                <h3>Made by students for students</h3>
                <hr>
                <div>
                    {{ description }}
                </div>
            </div>
        </div>
        <div class="col-md-6 p-4">
            <div class="p-1">
                <img src="../../assets/images/toronto.jpg" id="torontopic" alt="Toronto">
            </div>
        </div>
    </div>
</div>